## Importing Basic libraries and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Fraud.csv')

In [ ]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [30]:
data=df.drop(['nameOrig','nameDest'],axis=1)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [31]:
data['type']=le.fit_transform(data['type'])

In [8]:
data

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,3,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,4,181.00,181.00,0.00,0.00,0.00,1,0
3,1,1,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,3,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [21]:
vif_data = pd.DataFrame()
vif_data["feature"] = data.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(data.values, i)
                          for i in range(len(data.columns))]

In [22]:
vif_data

          feature         VIF
0            step    2.250166
1            type    2.085348
2          amount    4.083184
3   oldbalanceOrg  564.439294
4  newbalanceOrig  568.748454
5  oldbalanceDest   73.127671
6  newbalanceDest   84.820467
7         isFraud    1.194160
8  isFlaggedFraud    1.002565

In [32]:
data_1=data.drop(['newbalanceOrig','newbalanceDest'],axis=1)

In [33]:
data_1

,step,type,amount,oldbalanceOrg,oldbalanceDest,isFraud,isFlaggedFraud
0,1,3,9839.64,170136.00,0.00,0,0
1,1,3,1864.28,21249.00,0.00,0,0
2,1,4,181.00,181.00,0.00,1,0
3,1,1,181.00,181.00,21182.00,1,0
4,1,3,11668.14,41554.00,0.00,0,0
...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,1,0
6362616,743,4,6311409.28,6311409.28,0.00,1,0
6362617,743,1,6311409.28,6311409.28,68488.84,1,0
6362618,743,4,850002.52,850002.52,0.00,1,0
6362619,743,1,850002.52,850002.52,6510099.11,1,0

In [36]:
vif_data_1 = pd.DataFrame()
vif_data_1["feature"] = data_1.columns
  
# calculating VIF for each feature
vif_data_1["VIF"] = [variance_inflation_factor(data_1.values, i)
                          for i in range(len(data_1.columns))]

In [37]:
vif_data_1

          feature       VIF
0            step  2.125719
1            type  1.988718
2          amount  1.219356
3   oldbalanceOrg  1.111818
4  oldbalanceDest  1.209374
5         isFraud  1.010808
6  isFlaggedFraud  1.002049

In [38]:
data_1.corr()

,step,type,amount,oldbalanceOrg,oldbalanceDest,isFraud,isFlaggedFraud
step,1.000000,0.006635,0.022373,-0.010058,0.027665,0.031578,0.003277
type,0.006635,1.000000,0.088419,-0.339760,-0.104679,0.020833,0.002685
amount,0.022373,0.088419,1.000000,-0.002762,0.294137,0.076688,0.012295
oldbalanceOrg,-0.010058,-0.339760,-0.002762,1.000000,0.066243,0.010154,0.003835
oldbalanceDest,0.027665,-0.104679,0.294137,0.066243,1.000000,-0.005885,-0.000513
isFraud,0.031578,0.020833,0.076688,0.010154,-0.005885,1.000000,0.044109
isFlaggedFraud,0.003277,0.002685,0.012295,0.003835,-0.000513,0.044109,1.000000